In [1]:
path='https://raw.githubusercontent.com/tec03/Datasets/main/datasets/fpEg1.csv'

In [2]:
pip install pandas

Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2022.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(path,
                 header = None)
df

   0  1  2  3  4    5    6    7
0  a  c  d  f  g    i    m    p
1  a  b  c  f  l    m    o  NaN
2  b  f  h  j  o  NaN  NaN  NaN
3  b  c  k  s  p  NaN  NaN  NaN
4  a  c  e  f  i    p    m    n

In [5]:
transaction = []
for i in range (0, df.shape[0]):
    for j in range(0, df.shape[1]):
        transaction.append(df.values[i][j])
transaction

['a',
 'c',
 'd',
 'f',
 'g',
 'i',
 'm',
 'p',
 'a',
 'b',
 'c',
 'f',
 'l',
 'm',
 'o',
 nan,
 'b',
 'f',
 'h',
 'j',
 'o',
 nan,
 nan,
 nan,
 'b',
 'c',
 'k',
 's',
 'p',
 nan,
 nan,
 nan,
 'a',
 'c',
 'e',
 'f',
 'i',
 'p',
 'm',
 'n']

In [6]:
df.shape[1]

8

In [7]:
pip install numpy

Requirement already satisfied: numpy in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.21.6)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import numpy as np

In [9]:
transaction = np.array(transaction)
transaction

array(['a', 'c', 'd', 'f', 'g', 'i', 'm', 'p', 'a', 'b', 'c', 'f', 'l',
       'm', 'o', 'nan', 'b', 'f', 'h', 'j', 'o', 'nan', 'nan', 'nan', 'b',
       'c', 'k', 's', 'p', 'nan', 'nan', 'nan', 'a', 'c', 'e', 'f', 'i',
       'p', 'm', 'n'], dtype='<U32')

In [10]:
#Data pre-processing

In [11]:
ndf = pd.DataFrame(transaction,
                   columns = ['items']
                  )
ndf.head(2)

  items
0     a
1     c

In [12]:
ndf[ndf['items']=='nan']

   items
15   nan
21   nan
22   nan
23   nan
29   nan
30   nan
31   nan

In [13]:
to_be_deleted = ndf[ndf['items']=='nan'].index
to_be_deleted

Int64Index([15, 21, 22, 23, 29, 30, 31], dtype='int64')

In [14]:
ndf.drop(to_be_deleted,
         inplace = True)
ndf['count'] = 1
ndf

   items  count
0      a      1
1      c      1
2      d      1
3      f      1
4      g      1
5      i      1
6      m      1
7      p      1
8      a      1
9      b      1
10     c      1
11     f      1
12     l      1
13     m      1
14     o      1
16     b      1
17     f      1
18     h      1
19     j      1
20     o      1
24     b      1
25     c      1
26     k      1
27     s      1
28     p      1
32     a      1
33     c      1
34     e      1
35     f      1
36     i      1
37     p      1
38     m      1
39     n      1

In [15]:
df_table = ndf.groupby('items').sum()
df_table

       count
items
a          3
b          3
c          4
d          1
e          1
f          4
g          1
h          1
i          2
j          1
k          1
l          1
m          3
n          1
o          2
p          3
s          1

In [16]:
df_table = ndf.groupby('items').sum().sort_values('count',
                                                 ascending = False).reset_index()
df_table

   items  count
0      c      4
1      f      4
2      a      3
3      b      3
4      p      3
5      m      3
6      o      2
7      i      2
8      h      1
9      j      1
10     k      1
11     l      1
12     g      1
13     n      1
14     e      1
15     d      1
16     s      1

In [17]:
pip install matplotlib

Requirement already satisfied: matplotlib in /srv/conda/envs/notebook/lib/python3.7/site-packages (3.5.3)
Requirement already satisfied: pillow>=6.2.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (9.3.0)
Requirement already satisfied: fonttools>=4.22.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (4.38.0)
Requirement already satisfied: numpy>=1.17 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (1.21.6)
Requirement already satisfied: cycler>=0.10 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (21.3)
Requirement already satisfied: typing-extensions in /srv/conda/envs/notebook/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib) (4.4.0)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [18]:
import matplotlib as mpl
import matplotlib.pyplot as plt

In [19]:
df_table['all'] = 'x'
df_table

   items  count all
0      c      4   x
1      f      4   x
2      a      3   x
3      b      3   x
4      p      3   x
5      m      3   x
6      o      2   x
7      i      2   x
8      h      1   x
9      j      1   x
10     k      1   x
11     l      1   x
12     g      1   x
13     n      1   x
14     e      1   x
15     d      1   x
16     s      1   x

In [20]:
pip install plotly

Requirement already satisfied: plotly in /srv/conda/envs/notebook/lib/python3.7/site-packages (5.11.0)
Requirement already satisfied: tenacity>=6.2.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from plotly) (8.1.0)
Note: you may need to restart the kernel to use updated packages.

In [21]:
import plotly.express as px
import plotly.io as pio   # these two lines, to see the graph in mybinder
pio.renderers.default = 'iframe'

In [22]:
#df_table.head().style.background_grandient(cmap = 'Blues')

In [23]:
fig = px.treemap(df_table,
                 path = ['all','items'],
                 values = 'count',
                 color = df_table['count'],
                 color_continuous_scale = 'Blues',
                 hover_data = ['items']
                 )
fig.show()

In [24]:
tra = []
for i in range(0, df.shape[0]):
    tra.append([ str(df.values[i,j])
                for j in range(0, df.shape[1])
               ]
              )
tra

[['a', 'c', 'd', 'f', 'g', 'i', 'm', 'p'],
 ['a', 'b', 'c', 'f', 'l', 'm', 'o', 'nan'],
 ['b', 'f', 'h', 'j', 'o', 'nan', 'nan', 'nan'],
 ['b', 'c', 'k', 's', 'p', 'nan', 'nan', 'nan'],
 ['a', 'c', 'e', 'f', 'i', 'p', 'm', 'n']]

In [25]:
pip install mlxtend

Requirement already satisfied: mlxtend in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.21.0)
Requirement already satisfied: joblib>=0.13.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: setuptools in /srv/conda/envs/notebook/lib/python3.7/site-packages (from mlxtend) (65.4.1)
Requirement already satisfied: scipy>=1.2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from mlxtend) (1.7.3)
Requirement already satisfied: matplotlib>=3.0.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from mlxtend) (3.5.3)
Requirement already satisfied: scikit-learn>=1.0.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: pandas>=0.24.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from mlxtend) (1.3.5)
Requirement already satisfied: numpy>=1.16.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from mlxtend) (1.21.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (9.3.0)
Requirement already satisfied: packaging>=20.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: cycler>=0.10 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (4.38.0)
Requirement already satisfied: pyparsing>=2.2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.24.2->mlxtend) (2022.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)
Requirement already satisfied: typing-extensions in /srv/conda/envs/notebook/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.0->mlxtend) (4.4.0)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [26]:
from mlxtend.preprocessing import TransactionEncoder

In [34]:
te = TransactionEncoder()
te_aray = te.fit(tra).transform(tra)

encoded_df = pd.DataFrame(te_aray,  columns = te.columns_)

In [35]:
encoded_df

,a,b,c,d,e,f,g,h,i,j,k,l,m,n,nan,o,p,s
0,True,False,True,True,False,True,True,False,True,False,False,False,True,False,False,False,True,False
1,True,True,True,False,False,True,False,False,False,False,False,True,True,False,True,True,False,False
2,False,True,False,False,False,True,False,True,False,True,False,False,False,False,True,True,False,False
3,False,True,True,False,False,False,False,False,False,False,True,False,False,False,True,False,True,True
4,True,False,True,False,True,True,False,False,True,False,False,False,True,True,False,False,True,False

In [36]:
encoded_df.drop(['nan'],axis = 1, inplace = True)
encoded_df.columns

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n',
       'o', 'p', 's'],
      dtype='object')

In [37]:
from mlxtend.frequent_patterns import fpgrowth

In [38]:
f_itemsets = fpgrowth(encoded_df,
                      min_support = 0.6,
                      use_colnames = True
                     )
f_itemsets

    support      itemsets
0       0.8           (f)
1       0.8           (c)
2       0.6           (p)
3       0.6           (m)
4       0.6           (a)
5       0.6           (b)
6       0.6        (c, f)
7       0.6        (c, p)
8       0.6        (c, m)
9       0.6        (f, m)
10      0.6     (c, f, m)
11      0.6        (a, m)
12      0.6        (a, c)
13      0.6        (a, f)
14      0.6     (a, c, m)
15      0.6     (a, f, m)
16      0.6     (a, c, f)
17      0.6  (a, c, f, m)

In [39]:
from mlxtend.frequent_patterns import association_rules

In [41]:
a_rules = association_rules(f_itemsets,
                            metric = 'lift',
                            min_threshold = 1.5
                           )
a_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(c, f)",(m),0.6,0.6,0.6,1.0,1.666667,0.24,inf
1,(m),"(c, f)",0.6,0.6,0.6,1.0,1.666667,0.24,inf
2,(a),(m),0.6,0.6,0.6,1.0,1.666667,0.24,inf
3,(m),(a),0.6,0.6,0.6,1.0,1.666667,0.24,inf
4,"(a, c)",(m),0.6,0.6,0.6,1.0,1.666667,0.24,inf
5,"(c, m)",(a),0.6,0.6,0.6,1.0,1.666667,0.24,inf
6,(a),"(c, m)",0.6,0.6,0.6,1.0,1.666667,0.24,inf
7,(m),"(a, c)",0.6,0.6,0.6,1.0,1.666667,0.24,inf
8,"(a, f)",(m),0.6,0.6,0.6,1.0,1.666667,0.24,inf
9,"(f, m)",(a),0.6,0.6,0.6,1.0,1.666667,0.24,inf
10,(a),"(f, m)",0.6,0.6,0.6,1.0,1.666667,0.24,inf
11,(m),"(a, f)",0.6,0.6,0.6,1.0,1.666667,0.24,inf
12,"(c, f)",(a),0.6,0.6,0.6,1.0,1.666667,0.24,inf
13,(a),"(c, f)",0.6,0.6,0.6,1.0,1.666667,0.24,inf
14,"(a, c, f)",(m),0.6,0.6,0.6,1.0,1.666667,0.24,inf
15,"(c, f, m)",(a),0.6,0.6,0.6,1.0,1.666667,0.24,inf
16,"(a, c)","(f, m)",0.6,0.6,0.6,1.0,1.666667,0.24,inf
17,"(a, f)","(c, m)",0.6,0.6,0.6,1.0,1.666667,0.24,inf
18,"(a, m)","(c, f)",0.6,0.6,0.6,1.0,1.666667,0.24,inf
19,"(c, f)","(a, m)",0.6,0.6,0.6,1.0,1.666667,0.24,inf
20,"(c, m)","(a, f)",0.6,0.6,0.6,1.0,1.666667,0.24,inf
21,"(f, m)","(a, c)",0.6,0.6,0.6,1.0,1.666667,0.24,inf
22,(a),"(c, f, m)",0.6,0.6,0.6,1.0,1.666667,0.24,inf
23,(m),"(a, c, f)",0.6,0.6,0.6,1.0,1.666667,0.24,inf